input {
	keyboard {
		xkb {
			layout "us"
		}
	}
	mouse {
	}
}

environment {
    XDG_CURRENT_DESKTOP "niri:GNOME"
}

layout {
	gaps 8
	background-color "transparent"
	center-focused-column "never"

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}
	default-column-width {
		proportion 0.5;
	}

	border {
		off
	}
	focus-ring {
		on
		width 4
		active-color "#ffffff"
		inactive-color "#0d4040"
		urgent-color "#cc4444"
	}
	shadow {
		softness 30
		spread 5
		offset x=0 y=0
		color "#0007"
	}
	struts {
		left 8
		right 8
		top 8
		bottom 8
	}
}

gestures {
    hot-corners { off; }
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "dms" "run"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

binds {
	Mod+Shift+E { quit; }
	Mod+Q { close-window; }

	Mod+Return repeat=false { spawn "kitty"; }
	Mod+O      repeat=false { spawn "~/.config/niri/scripts/rofi-toggle.sh"; }
	Mod+B 	   repeat=false { spawn "zen-browser"; }
	Mod+E      repeat=false { spawn "kitty" "-e" "yazi"; }

	Mod+H { focus-column-left; }
	Mod+L { focus-column-right; }
	Mod+J { focus-window-down; }
	Mod+K { focus-window-up; }

	Mod+Ctrl+H { move-column-left; }
	Mod+Ctrl+L { move-column-right; }
	Mod+Ctrl+J { move-window-down; }
	Mod+Ctrl+K { move-window-up; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+W { toggle-column-tabbed-display; }
	Mod+R { switch-preset-column-width; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Shift+J { focus-workspace-down; }
    Mod+Shift+K { focus-workspace-up; }

    Mod+Tab { toggle-overview; }

    Ctrl+Print { screenshot-screen write-to-disk=false; }
    Alt+Print  { screenshot-window write-to-disk=false; }
}

window-rule {
	geometry-corner-radius 12
	clip-to-geometry true

	background-effect {
		blur true
		xray false
	}
}

window-rule {
	match app-id="^zen"

	open-maximized false
	open-maximized-to-edges false
	open-fullscreen false
	default-column-width { proportion 0.5; }

	draw-border-with-background false
	opacity 0.85
}

// Change the focus ring color depending on Neovim mode
// Color theme is based off of Iceberg.vim
//  bg      = "#161821",
//  fg      = "#C6C8D1",
//  comment = "#6B7089",
//  blue    = "#84A0C6",
//  cyan    = "#89B8C2",
//  green   = "#B4BE82",
//  yellow  = "#E2A478",
//  red     = "#E27878",
//  purple  = "#A093C7",

window-rule {
    match app-id="kitty" title="nvim-n"
    focus-ring {
        active-color "#6b7089"          // gray
        inactive-color "#0d4040"
    }
}

window-rule {
    match app-id="kitty" title="nvim-i"
    focus-ring {
        active-color "#84a0c6"          // blue
        inactive-color "#0d4040"
    }
}

window-rule {
    match app-id="kitty" title="nvim-v"
    focus-ring {
        active-color "#b4be82"          // green
        inactive-color "#0d4040"
    }
}

window-rule {
    match app-id="kitty" title="nvim-V"
    focus-ring {
        active-color "#b4be82"          // green
        inactive-color "#0d4040"
    }
}

window-rule {
    match app-id="kitty" title="nvim-c"
    focus-ring {
        active-color "#a093c7"          // purple
        inactive-color "#0d4040"
    }
}

layer-rule {
    match namespace="rofi"

    opacity 0.90
}

blur {
	passes 2
	offset 3.0
	noise 0.02
}

prefer-no-csd
